In [21]:
# Read de raw csv and convert into data frames

import pandas as pd

route_channels = r'C:\Users\btigr\Documents\UAO\5\ETL\ETL_2026_1\lab_03\lab_03\data\raw\synthetic_channels_data_clothing.csv'

df = pd.read_csv(route_channels, sep=';')

df.head()

   channel_id           channel
0           1  Physical Store 1
1           2  Physical Store 2
2           3            Online

In [20]:
route_customers = r'C:\Users\btigr\Documents\UAO\5\ETL\ETL_2026_1\lab_03\lab_03\data\raw\synthetic_customers_data_clothing.csv'

df_customers = pd.read_csv(route_customers, sep=';')

df_customers.head()

   customer_id             name                   city    country  age
0            1     Brent Rhodes            New Timothy  Argentina   58
1            2  Amber Alexander             New Steven     Mexico   48
2            3   Nicole Jenkins       Lake Mitchellton  Argentina   65
3            4     Kevin Castro        North Scottbury   Colombia   67
4            5    Sheri Manning  South Christopherfurt   Colombia   50

In [22]:
route_products = r'C:\Users\btigr\Documents\UAO\5\ETL\ETL_2026_1\lab_03\lab_03\data\raw\synthetic_products_data_clothing.csv'

df_products = pd.read_csv(route_products, sep=';')

df_products.head()

   product_id             name     category       brand  unit_price  unit_cost
0           1  Clothing Item 1  Accessories  ClassyWear      102.03      48.00
1           2  Clothing Item 2        Pants    FashionX      152.97      71.73
2           3  Clothing Item 3  Accessories  ClassyWear       42.40      55.18
3           4  Clothing Item 4        Pants  StreetVibe      139.81      72.70
4           5  Clothing Item 5  Accessories    FashionX       39.87      52.77

In [24]:
route_sales = r'C:\Users\btigr\Documents\UAO\5\ETL\ETL_2026_1\lab_03\lab_03\data\raw\synthetic_sales_data_clothing.csv'

df_sales = pd.read_csv(route_sales, sep=';')

df_sales.head()

,sale_id,sale_date,product_id,customer_id,channel_id,quantity,unit_price_sale
0,1,2026-04,73,2,2,5,12.33
1,2,2026-02,8,20,2,5,166.49
2,3,2026-01,38,18,3,2,190.19
3,4,2026-01,72,19,1,2,80.82
4,5,2026-01,28,12,1,3,190.05

In [2]:
import pandas as pd
from log import log_progress
from extract import extract_channels_data, extract_customers_data, extract_products_data, extract_sales_data

# Routes
# Define log file path
log_file = r'C:\Users\btigr\Documents\UAO\5\ETL\ETL_2026_1\lab_03\lab_03\logs\log_file.txt'

# Define data path
data_path = r'C:\Users\btigr\Documents\UAO\5\ETL\ETL_2026_1\lab_03\lab_03\data\raw'

def main():

    # Start ETL process
    log_progress("Starting ETL process", log_file)

    # Extract data from channels data csv
    log_progress("Extract phase started", log_file)
    df_channels = extract_channels_data(data_path + r'\synthetic_channels_data_clothing.csv')
    df_customers = extract_customers_data(data_path + r'\synthetic_customers_data_clothing.csv')
    df_products = extract_products_data(data_path + r'\synthetic_products_data_clothing.csv')
    df_sales = extract_sales_data(data_path + r'\synthetic_sales_data_clothing.csv')

    '''# mostrar los df usando iloc
    print("\nChannels DataFrame:")
    print(df_channels.iloc[:5])
    print("\nCustomers DataFrame:")
    print(df_customers.iloc[:5])
    print("\nProducts DataFrame:")
    print(df_products.iloc[:5])
    print("\nSales DataFrame:")
    print(df_sales.iloc[:5])'''

    # mostrar el tipo de dato de cada columna de cada df organizado conb iloc
    print("\nDataFrame dtypes:")
    print("\nChannels DataFrame dtypes:")
    print(df_channels.dtypes) 
    print("\nCustomers DataFrame dtypes:")
    print(df_customers.dtypes)
    print("\nProducts DataFrame dtypes:")
    print(df_products.dtypes)
    print("\nSales DataFrame dtypes:")
    print(df_sales.dtypes)




if __name__ == "__main__":  
    main()

DataFrame dtypes:

Channels DataFrame dtypes:
channel_id     int64
channel       object
dtype: object

Customers DataFrame dtypes:
customer_id     int64
name           object
city           object
country        object
age             int64
dtype: object

Products DataFrame dtypes:
product_id      int64
name           object
category       object
brand          object
unit_price    float64
unit_cost     float64
dtype: object

Sales DataFrame dtypes:
sale_id              int64
sale_date           object
product_id           int64
customer_id          int64
channel_id           int64
quantity             int64
unit_price_sale    float64
dtype: object

In [ ]:
import pandas as pd

# La fecha la venta es un objeto